@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans/OpenSans-ExtraBold.ttf);
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans/OpenSans-Light.ttf);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans/OpenSans-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans/OpenSans-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
}
